body {
  font-family: "Figtree", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6d050;
  height: 100vh;
  width: auto;
}
/* this cont is the main container of the code */
.cont {
  margin: 350px;
  height: 410px;
  width: 320px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px;
}
/* Stle or Changes to paragraphs is done here */
p {
  font-size: 13px;
  margin: 0 0 0 20px;
}
.p1 {
  font-size: 13px;
  font-weight: 300;
  margin: 0 13px 0 20px;
}
/* Heading styles */
h3 {
  margin: 10px 0 10px 20px;
  font-style: bold;
}

.h-1 {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 8px;
  background-color: #f3c42d;
}
/* Images style */
.img1 {
  height: 190px;
  width: 295px;
  margin: 13px 13px 0 13px;
  border-radius: 10px;
  object-fit: cover;
}
.img2 {
  margin-left: 20px;
  margin-right: 8px;
  margin-top: 8px;
  height: 20px;
  width: 19px;
  object-fit: cover;
  float: left;
}
/* Mobile view */
@media (max-width: 375px) {
  body {
    width: 374px;
    justify-content: center;
    align-items: center;
  }
  .cont {
    height: 410px;
    width: 270px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .img1 {
    width: 240px;
  }
}
